@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(13, 13, 13, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-k-header.is-open .w-k-header-background {
  left: 0;
}
.w-k-header-button-wrapper {
  margin-left: auto;
}
.w-k-header-icon {
  display: none;
}

.w-k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-k-navigation-list.is-open {
  right: 0;
}
.w-k-header-icon-menu {
  display: block;
}

.w-k-header-icon-button.is-open .w-k-header-icon-menu {
  display: none;
}

.w-k-header-icon-button.is-open .w-k-header-icon-close {
  display: block;
}

.w-k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(18, 18, 18, 0.24);
}

.w-k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.w-k-header.is-open .w-k-header-background {
  left: 0;
}
.w-k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-k-header-icon-menu {
  display: block;
}

.w-k-header-icon-button.is-open .w-k-header-icon-menu {
  display: none;
}

.w-k-header-icon-button.is-open .w-k-header-icon-close {
  display: block;
}

.w-k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.w-k-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 740px;
  transition: 0.3s;
  z-index: 999;
  padding: 46px 32px;
  gap: 30px;
  background: rgba(255, 255, 255, 1);
}

.w-k-navigation-list.is-open {
  right: 0;
}

.w-k-navigation-link {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(18, 18, 18, 1);
}

.w-k-navigation-link:hover,
.w-k-navigatioт-link:focus {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  color: rgba(56, 124, 0, 1);
}

.w-k-header.is-open {
  background-color: transparent;
}

.w-k-navigation-img {
  display: none;
}
.w-k-policy-terms-header-icon-menu {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -5%;
  text-transform: uppercase;
  color: rgba(13, 13, 13, 1);
  text-decoration: none;
}
@media screen and (min-width: 1209px) {
  .w-k-navigation-img {
    display: flex;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -5%;
    text-transform: uppercase;
    color: rgba(13, 13, 13, 1);
    margin-right: 70px;
    text-decoration: none;
  }
  .w-k-header-button-wrapper {
    display: none;
  }
  .w-k-policy-terms-header-icon-menu {
    display: none;
  }

  .w-k-header {
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1000;
  }

  .w-k-header-background {
  }
  .w-k-header-icon-button {
    display: none;
  }
  .w-k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    padding: 0;
    padding-left: 120px;

    align-items: center;
    justify-content: center;
  }

  .w-k-navigation-link {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .w-k-navigation-item-desk {
    display: none;
  }
}
.w-k-home {
  width: 375px;
  height: 1346px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home.png");
  margin: auto;
}
.w-k-home-container {
  width: 375px;
  padding: 108px 20px 0px;
  margin: auto;
}

.w-k-home-title {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.w-k-home-title-q {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.w-k-home-title-qq {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.w-k-home-title-qq span {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.w-k-home-title-qqq {
  padding-top: 236px;
}
.w-k-home-title-w {
  display: none;
}
@media screen and (min-width: 1209px) {
  .w-k-home {
    width: 1440px;
    height: 836px;
    background-image: url("/img/Home\ \(1\).png");
  }
  .w-k-home-container {
    width: 1440px;
    padding: 164px 80px 0px;
    position: relative;
  }

  .w-k-home-title {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 537px;
  }
  .w-k-home-title-q {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .w-k-home-title-q li {
    width: 537px;
  }
  .w-k-home-title-qq {
    display: none;
  }
  .w-k-home-title-qq span {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .w-k-home-title-qqq {
    padding-top: 0px;
  }
  .w-k-home-title-w {
    display: block;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-transform: capitalize;
    position: absolute;
    top: 164px;
    right: 194px;
    width: 545px;
  }
  .w-k-home-title-w span {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
}

.w-k-why-container {
  width: 375px;
  margin: auto;
  padding: 64px 20px;
}
.w-k-why-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.w-k-why-title {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.w-k-why-list {
  padding: 40px 0;
}
.w-k-why-item {
  margin: 12px;
  width: 300px;
  height: 639px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.w-k-why-text {
  padding-top: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.w-k-why-text strong {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
@media screen and (min-width: 1209px) {
  .w-k-why-container {
    width: 1440px;
    margin: auto;
    padding: 88px 80px;
  }

  .w-k-why-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .w-k-why-title {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    width: 474px;
    padding-bottom: 46px;
  }
  .w-k-why-list {
    padding: 10px 0 0;
  }
  .w-k-why-item {
    margin: 0 18px;
  }
}

.w-k-about {
  margin: auto;
  width: 375px;
  height: 1033px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Filosofia\ della\ selva\ \(1\).png");
}
.w-k-about-container {
  width: 375px;
  padding: 64px 36px 0px;
  margin: auto;
}
.w-k-about-title {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.w-k-about-text {
  display: flex;
  flex-direction: column;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 329px;
  gap: 20px;
}

@media screen and (min-width: 1209px) {
  .w-k-about {
    width: 1440px;
    height: 686px;
    background-image: url("/img/Filosofia\ della\ selva.png");
  }
  .w-k-about-container {
    width: 1440px;
    padding: 80px 80px 0 660px;
  }
  .w-k-about-title {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: left;
  }
  .w-k-about-text {
    display: flex;
    flex-direction: column;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-left: 199px;
    padding-top: 60px;
    gap: 20px;
  }
}
.w-k-about-one {
  margin: auto;
  width: 375px;
  height: 1052px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Dove\ tutto\ ha\ inizio.png");
}
.w-k-about-container-one {
  width: 375px;
  padding: 64px 20px 0px;
  margin: auto;
}

.w-k-about-list-one {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.w-k-about-one-text {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding-top: 256px;
}
@media screen and (min-width: 1209px) {
  .w-k-about-one {
    width: 1440px;
    height: 1206px;
    background-image: url("/img/Dove\ tutto\ ha\ inizio\ \(1\).png");
  }
  .w-k-about-container-one {
    width: 1440px;
    padding: 88px 80px;
  }
  .w-k-about-one-div {
    display: flex;
    justify-content: space-between;
  }
  .w-k-about-list-one {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    text-align: left;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    width: 814px;
  }
  .w-k-about-one-text {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 830px;
  }
}
.w-k-about-two {
  margin: auto;
  width: 375px;
  height: 917px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/page/Diario\ dell’olio.png");
}
.w-k-about-container-two {
  width: 375px;
  padding: 64px 20px 0px;
  margin: auto;
}

.w-k-about-text-two {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding: 40px 0;
}
.w-k-about-text-two-two {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
@media screen and (min-width: 1209px) {
  .w-k-about-two {
    margin: auto;
    width: 1440px;
    height: 1168px;

    background-image: url("/img/page/Diario\ dell’olio\ \(1\).png");
  }
  .w-k-about-container-two {
    width: 1440px;
    padding: 88px 80px;
  }
  .w-k-about-text-two {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding: 60px 0 40px;
  }
  .w-k-about-text-two-two {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }
  .w-k-about-title-two {
    text-align: center;
  }
}

.w-k-questions-container {
  width: 375px;
  padding: 64px 20px;
  margin: auto;
}
.w-k-questions-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.w-k-questions-text {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.w-k-questions-list {
  padding: 40px 0;
}
.w-k-questions-item {
  margin: 0 18px;
  width: 300px;
  height: 587px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.w-k-questions-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
  padding-top: 20px;
}

@media screen and (min-width: 1209px) {
  .w-k-questions-container {
    width: 1440px;
    padding: 88px 80px;
    margin: auto;
  }
  .w-k-questions-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .w-k-questions-text {
    width: 707px;
  }
}

.w-k-reviews {
  margin: auto;
  width: 375px;
  height: 958px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/1.png");
}
.w-k-reviews-container {
  margin: auto;
  padding: 64px 20px 0;
  width: 375px;
}
.w-k-reviews-list {
  padding: 40px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.w-k-reviews-item {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 1209px) {
  .w-k-reviews {
    width: 1440px;
    height: 730px;
    background-image: url("/img/11.png");
  }
  .w-k-reviews-container {
    margin: auto;
    padding: 88px 841px 0 80px;
    width: 1440px;
  }
  .w-k-reviews-list {
    padding: 60px 0px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.w-k-gallery-container {
  width: 375px;
  height: 1283px;
  margin: auto;
  padding: 108px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/page/Home\ \(2\).png");
}
.w-k-gallery-title {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.w-k-gallery-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.w-k-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.w-k-gallery-button-container-two {
  display: none;
}
.w-k-gallery-button-icon {
  width: 50px;
  height: 50px;
}
.w-k-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.w-k-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1209px) {
  .w-k-gallery-button-container-one {
    display: none;
  }
  .w-k-gallery-button-container-two {
    display: flex;
    justify-content: end;
    gap: 48px;
  }
  .w-k-gallery-button-container-three {
    justify-content: end;
    gap: 48px;
  }
  .w-k-gallery-container {
    width: 1440px;
    height: 836px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/page/Home\ \(3\).png");
    padding: 194px 823px 0 80px;
  }
  .w-k-gallery-title {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .w-k-gallery-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
}

.w-k-features {
  margin: auto;
  width: 375px;
  height: 789px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/page/Contatti.png");
}
.w-k-features-container {
  width: 375px;
  margin: auto;
  padding: 64px 20px 0;
}
.w-k-features-q {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding: 40px 0 12px;
}
.w-k-features-w {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.w-k-features-div {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
}
.w-k-features-div-item-t {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  padding-bottom: 12px;
  text-transform: capitalize;
}
.w-k-features-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.w-k-features-text-bolds {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.w-k-features-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 32px;
}
.w-k-features-input {
  background: rgba(240, 255, 235, 1);
  border-radius: 10px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(140, 140, 140, 1);
  border: none;
}
.w-k-features-textarea {
  height: 88px;
}
.w-k-features-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  border: none;
  background-color: transparent;
  gap: 10px;
}
.w-k-features-button p {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: rgba(181, 227, 169, 1);
  width: 175px;
  height: 60px;
  gap: 10px;
  border-radius: 100px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
}
@media screen and (min-width: 1209px) {
  .w-k-features {
    margin: auto;
    width: 1440px;
    height: 556px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/page/Contatti\ \(1\).png");
  }
  .w-k-features-container {
    width: 1440px;
    margin: auto;
    padding: 88px 140px 0;
  }
  .w-k-features-divq {
    display: flex;
    gap: 104px;
    padding-top: 60px;
  }
  .w-k-features-divqq {
    width: 546px;
  }
  .w-k-features-q {
    text-align: left;
    padding: 0px 0 12px;
  }
  .w-k-features-w {
    text-align: left;
  }

  .w-k-features-div {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
  }
  .w-k-features-div-item-t {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    padding-bottom: 12px;
    text-transform: capitalize;
  }
  .w-k-features-text-bold {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .w-k-features-text-bolds {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: capitalize;

    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }
  .w-k-features-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 0px;
  }
  .w-k-features-input {
    width: 510px;
    height: 60px;
  }
  .w-k-features-textarea {
    height: 88px;
  }
  .w-k-features-button {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 17px;
    border: none;
    background-color: transparent;
    gap: 10px;
  }
  .w-k-features-button p {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background: rgba(181, 227, 169, 1);
    width: 175px;
    height: 60px;
    border-radius: 100px;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
}

.w-k-container {
  padding: 104px 20px 40px;
  width: 375px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;

  margin: auto;
}

.w-k-container h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.w-k-container h2 {
  margin-top: 10px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
}

.w-k-container h3 {
  margin-top: 10px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
}

.w-k-container ul {
  margin-top: 10px;
}

.w-k-container ul li {
  margin-bottom: 10px;
}
.w-k-container p {
  margin-top: 10px;
}
.w-k-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-k-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1209px) {
  .w-k-container {
    padding: 144px 66px 40px;
    width: 1440px;
    margin: auto;
  }
  .w-k-container h1 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.w-k-footer-container {
  width: 375px;
  height: 352px;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Footer.png");

  color: rgba(255, 255, 255, 1);
}
.w-k-footer-container-div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.w-k-footer-container-div-t {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.w-k-footer-container-div-tt {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  padding-top: 12px;
  width: 176px;
}
.w-k-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.w-k-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}
.w-k-footer-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  column-gap: 32px;
  height: 104px;
}
.w-k-footer-text-bolds {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  width: 143px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.w-k-footer-copyright {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (min-width: 1209px) {
  .w-k-footer-container {
    width: 1440px;
    height: 220px;
    margin: auto;
    padding: 40px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/Frame\ 1707481781.png");

    color: rgba(255, 255, 255, 1);
  }
  .w-k-footer-container-div {
    display: flex;
    align-items: center;
    gap: 120px;
  }
  .w-k-footer-container-div-t {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  .w-k-footer-container-div-tt {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

    padding-top: 8px;
    width: 305px;
  }
  .w-k-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .w-k-footer-text {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
  }
  .w-k-footer-text-bold {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    gap: 12px;
    column-gap: 69px;
    height: 84px;
    margin-left: 69px;
  }
  .w-k-footer-text-bolds {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    width: 297px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  .w-k-footer-text-boldsa {
    width: 279px;
  }
  .w-k-footer-copyright {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 20px;
  }
}

.w-k-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 18px;
  background: rgba(10, 10, 10, 1);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.18);

  z-index: 1000;
  display: none;
}

.w-k-cookie-popup-text-two {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
}

.w-k-cookie-button-container {
  padding: 36px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.w-k-cookie-button {
  border: none;
  background-color: transparent;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: rgba(255, 255, 255, 1);
  width: 160px;
}

#accept-cookies {
  background: rgba(255, 199, 29, 1);
  width: 176px;
  border-radius: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.w-k-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1209px) {
  .w-k-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .w-k-cookie-popup-text-two {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    width: 940px;
  }

  .w-k-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .w-k-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;
    padding: 20px 40px;
    display: none;
  }
}
